
  
<% if logged_in? %>
     <script>
        

        window.currentUser = <%= render(
            'api/users/user.json.jbuilder', # this is a partial reference to api/users/_user.json.jbuilder
            user: current_user
        ).html_safe %>
    </script>

<% end %>



<div id="root">React is hella broken</div>



<%# # the result of root.html.rb, _user.json.jbuilder, and entry.jsx is to
# create a state that looks like: 

entities:
  channels:
    2: {channel_name: 'cArnthistletail', channel_description: 'Am I dying, or is this my birthday?', owner_id: 2, id: 2}
    5: {channel_name: 'Fakerdonacobius', channel_description: 'All my possessions for a moment of time.', owner_id: 5, id: 5}
    6: {channel_name: 'Grubbyreedling', channel_description: 'Well, this is certainly a pleasant surprise.', owner_id: 6, id: 6}
    10: {channel_name: 'xPekedovekie', channel_description: 'One! Two! Three!', owner_id: 10, id: 10}
    11: {channel_name: 'Seagullmeliphaga', channel_description: "I'll be in Hell before you start breakfast! Let her rip!", owner_id: 11, id

  users:
    1:
      follows: (5) [2, 5, 6, 10, 11]
      id: 1
      username: "DemoUser"

These are all the followed channels from the currentUser that is logged in
That is bootstrapped to the preloaded state
%>

