@import 'variables.scss';


 //dark-theme colored elements
 .chat-message-input.dark-theme {
  background: $dark-theme-search-bar;
  color: $dark-theme-search-bar-text;
}

.chat-header-container.dark-theme {
  color: $white;
}
.chat-message-input.dark-theme:focus {
  background: $black;
  color: $dark-theme-search-bar-text;
}

.chat-submit-btn.dark-theme {
  background: $twitch-purple;
  color: $white;
}

.chat-body-container.dark-theme, .chat-submit-container.dark-theme{
  background: $dark-theme-nav-bar;

}
//light-theme colored elements

.chat-message-input.light-theme {
  background: $light-theme-search-bar;
  color: $light-theme-search-bar-text;
}

.chat-submit-btn.light-theme {
  background: $twitch-purple;
  color: $white;
}

//general elements [position,font,transitions, etc.]

.chat-message-input {
  object-fit: contain;
  width: 95%;
  height: 46.5%;
  font-size: 0.9rem;
  padding-left: 5px;
  border: none;
  border-radius: 6px;
}

.chat-header-container {
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 15.6px;
  font-size: 13px;
  text-transform: uppercase;
  font-stretch: 100%;
  font-family: $twitch-text;
}

.chat-body-container {
  height: 771px;
}

.chat-submit-container {
  display:flex;
  flex-direction:column;
  height: 93.5px;
  align-items: flex-end;
}

.chat-submit-btn {
  width: 50.05px;
  height: 19.5px;
  font-size: 13px;
  font-weight: bold;
  font-family: $twitch-text;
  height:30px;
  width: auto;
  border: none;
  border-radius: 6px;
}