@import 'variables.scss';


//dark theme colored elements
.mid-container.dark-theme {
  background: $dark-theme-page-background;
}

.right-container.dark-theme{
  background: $dark-theme-nav-bar;
}

//light-theme colored elements
.mid-container.light-theme {
  background: $light-theme-page-background;
}

//general elements [position,font,transitions, etc.]

.left-mid-right {
  display: flex;
  flex-direction: row;
}

.mid-right-container {
  display: flex;
  flex-direction: row;
  width:87.901vw
}

.mid-container {
  width:100%;
  max-width: 68.62vw;
  
}
.right-container {
  width:18.40vw;
}

