

.left-mid-right {
  display: flex;
  flex-direction: row;
}

.mid-right-container {
  display: flex;
  flex-direction: row;
  width:87.901vw
}

.mid-container {
  width:100%;
  max-width: 68.62vw;
  background: #f7f7f8;
}
.right-container {
  width:18.40vw;
}

