@import 'variables.scss';


//dark theme colored elements
.mid-container.dark-theme {
  background: $dark-theme-page-background;
}

.home-index-channel-logo.dark-theme {
  border: solid $black 1px;
}

.home-index-stream-preview.dark-theme {
  height: 170px;
  background: $black;
}

.home-index-channel-name.dark-theme {
  text-decoration-color: $dark-theme-index-text ;
}
//light-theme colored elements
.mid-container.light-theme {
  background: $light-theme-page-background;
}

.home-index-channel-logo.light-theme {
  border: solid $black 1px;
}

.home-index-stream-preview.light-theme {
  height: 170px;
  background:$black;
}

.home-index-channel-name.light-theme {
  text-decoration-color: $light-theme-index-text ;
}
//general elements [position,font,transitions, etc.]

.home-index-channel-logo {
  width: 40px;
  border-radius: 100%;
  height: 40px;
  object-fit: contain;
}

.home-index-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  
}

.home-index-item-container {
  width: 302px;
  height: 289px;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: center;
}

.home-index-under-item-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-decoration: none;
}

.home-index-channel-info-container{
  display: flex;
  flex-direction: column;
}

.home-index-stream-preview {
  height: 170px;
  background: black;
}

.home-index-stream-title {
  font-family: $twitch-text;
  font-size: 14px;
  font-stretch: 100%;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 16.8px;
 
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  vertical-align: baseline;
}

.home-index-channel-name {
  font-family: $twitch-text;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 19.5px;
  
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
}

.home-index-stream-link {
  all: unset;
}