@import 'variables.scss';


//dark theme colored elements
.nav-bar-container.dark-theme {
  background-color: $dark-theme-nav-bar;
}

.nav-browse.dark-theme{
  text-decoration: none;
  color: $white;
}

.nav-search-input.dark-theme {
  background: $dark-theme-search-bar;
  color: $dark-theme-search-bar-text;
}

.nav-search-button.dark-theme {
  background-color: $dark-theme-search-bar-btn-background;
  color: $dark-theme-search-bar-btn-color;
}

.nav-bar-login-btn.dark-theme,.nav-bar-logout-btn.dark-theme {
  background: $dark-theme-login-btn-background;
  color:$dark-theme-login-btn-text;
}

.nav-bar-signup-btn.dark-theme {
  background: $dark-theme-sign-up-btn-background;
  color: $dark-theme-sign-up-btn-text;
}

.nav-bar-signup-btn.dark-theme:hover {
  background:$dark-theme-sign-up-btn-background-hover;
  color: $dark-theme-sign-up-btn-text;
}

.nav-bar-login.dark-theme:hover {
  background: $dark-theme-login-btn-background-hover;
  color:$dark-theme-login-btn-text;
}
.avatar-btn.dark-theme {
  color:$white;
}
.avatar-btn.dark-theme:hover {
  background: $dark-theme-login-btn-background-hover;
  color:$dark-theme-login-btn-text;
}

.nav-about.dark-theme{
  color: $white;
}
//light-theme colored elements

.nav-about.light-theme{
  color: $black;
}

.nav-bar-container.light-theme {
  background-color: $light-theme-nav-bar;
}
.nav-browse.light-theme {
  text-decoration: none;
  color: $black;
}

.avatar-btn.light-theme:hover {
  background: $light-theme-login-btn-background-hover;
  color:$light-theme-login-btn-text;
}

.avatar-btn.light-theme {
  color:$black;
}
.nav-bar-login.light-theme:hover {
  background: $lighter-grey;
  color:$charcoal;
}

.nav-bar-signup-btn.light-theme:hover {
  background:$light-theme-sign-up-btn-background-hover;
  color: $light-theme-sign-up-btn-text;
}

.nav-bar-signup-btn.light-theme {
  background: $light-theme-sign-up-btn-background;
  color: $light-theme-sign-up-btn-text;
}

.nav-bar-login-btn.light-theme, .nav-bar-logout-btn.light-theme {
  background: $light-theme-login-btn-background;
  color:$light-theme-login-btn-text;
}

.nav-search-button.light-theme {
  background-color: $light-theme-search-bar-btn-background;
  color: $light-theme-search-bar-btn-color
}

.nav-search-input.light-theme {
  background: $light-theme-search-bar;
  color: $light-theme-search-bar-text;
}
//general elements [position,font,transitions, etc.]

.logo {
  box-sizing: border-box;
  width: 100px;
  height: 23px;
  padding: 0;
}

.nav {
  font-family: $twitch-text;
}

#root > div > div.nav.nav-bar-container > div.nav-bar.logo-container > a:nth-child(2) {
  text-decoration: none;
}

.nav-browse {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 0;
  margin: -9;
  box-shadow: 0 1px 2px rgba(0,0,0,0.9)
  
}

.nav-about {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-search-bar-container {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.nav-search-input {
  width: 351px;
  height: 34px;
  font-size: 0.9rem;
  padding-left: 5px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nav-search-button-icon {
  width: 24;
  height: 24;
}

.nav-search-bar-button-wrapper {
  display: inline-flex;
  gap: 1px;
}

.nav-search-button {
  width: 34px;
  height: 36px;
  border: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.nav-bar.logo-container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-search-bar-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal-initiation-container {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.modal-initiation-button-wrapper {
  display: inline-flex;
  gap: 5px;
  margin-right: 20px;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-login-btn {
  font-size: 13px;
  font-weight: bold;
  font-family: $twitch-text;
  height: 30px;
  width: auto;
  border: none;
  border-radius: 6px;
}

.avatar-btn {
  font-size: 13px;
  font-weight: bold;
  font-family: $twitch-text;
  height: 30px;
  width: auto;
  border: none;
  border-radius: 4px;
}

.nav-bar-logout-btn {
  font-size: 13px;
  font-weight: bold;
  font-family: $twitch-text;
  height: 30px;
  width: auto;
  border: none;
  border-radius: 6px;
}

.nav-bar-signup-btn {
  font-size: 13px;
  font-weight: bold;
  font-family: $twitch-text;
  height: 30px;
  width: auto;
  border: none;
  border-radius: 6px;
}

.dropdown-login {
  height: inherit;
  width: 100%;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-text {
  padding-left: 10px;
}