//fonts
$twitch-text: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;


// all theme colors
$black: black;
$red: red;
$white: #ffffff;
$twitch-purple: #772ce8;
$twitch-light-purple: rgb(145, 71, 255);
$twitch-deep-purple:  #300c67;

// light theme
$slight-white: #efeff1;
$off-white: #f7f7f8;
$smoky-white: #E6E6EA;
$creamy-white: #f2f2f2;
$charcoal: #2c2c2e;
$cream: #e5e5e5;
$dark-grey: #444444;
$lighter-grey: #adadb8;
$light-grey: rgb(83, 83, 95)